<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
   <servlet>

    <servlet-name>add_servlet_123</servlet-name>

    <servlet-class>com.cslc.Package3.Greatest3Controller</servlet-class>

</servlet>

<servlet-mapping>

    <servlet-name>add_servlet_123</servlet-name>

    <url-pattern>/add.do</url-pattern>

</servlet-mapping>
</web-app>
